@model RestorationStore.Domain.Model.Request

@{
    ViewBag.Title = "Create Request";
}


@using(Html.BeginForm("CreateRequest", "Request", 
    FormMethod.Post, 
    new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Request</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title.TitleMessage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title.TitleMessage)
            @Html.ValidationMessageFor(model => model.Title.TitleMessage)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Contact.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Name)
            @Html.ValidationMessageFor(model =>model.Contact.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Contact.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Email)
            @Html.ValidationMessageFor(model => model.Contact.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Contact.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Phone)
            @Html.ValidationMessageFor(model => model.Contact.Phone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Contact.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact.Address)
            @Html.ValidationMessageFor(model => model.Contact.Address)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-field">
            <div>Load image: <input type="file" name="Image" /></div>
        </div>
        <p>
            <input type="submit" value="Create Request" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
