@model RestorationStore.Domain.Model.Request

@Html.Hidden("id_request", Model.Id)
<div class="display-label">
    @Html.DisplayNameFor(model => model.Title.TitleMessage)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Title.TitleMessage)
</div>

@if(Model.InitialImage != null) {
    <div class="editor-label">Initial Image</div>
    <div class="editor-field">

        <img width="150" height="150"
             src="@Url.Action("GetImage",
                                            "Request",
                                new { id_request=Model.Id })" />
    </div>
}

<div class="display-label">
    @Html.DisplayNameFor(model => model.Contact.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Contact.Name)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Contact.Email)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Contact.Email)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Contact.Phone)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Contact.Phone)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Contact.Address)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Contact.Address)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Estatus)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Estatus)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Description)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.InitialDate)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.InitialDate)
</div>